@font-face {
    font-family: 'roboto-medium';
    src: url('../../fonts/roboto-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../../fonts/roboto-regular.ttf') format('truetype');
}
