body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  body .app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; }
    body .app .app-container {
      position: fixed;
      z-index: 2; }
    body .app .app-content {
      position: relative;
      flex: 1;
      margin-top: 60px;
      z-index: 1; }
