.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: 1; }
  .page-content .page-row {
    display: flex;
    width: 100%;
    height: auto; }
    .page-content .page-row .input-field {
      display: flex;
      width: 100%; }
      .page-content .page-row .input-field .input-label {
        min-width: 114px; }
      .page-content .page-row .input-field .text-box {
        flex: 1; }
        .page-content .page-row .input-field .text-box input {
          width: 100%; }
