* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #011239;
    z-index: 100;
    transition: all 0.5s ease;
}

    .sidebar.close {
        width: 78px;
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details i {
            font-size: 30px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li:hover {
            background: #273557;
        }

        .sidebar .nav-links li .iocn-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sidebar.close .nav-links li .iocn-link {
        display: block
    }

.iocn-link:hover {
    border-left: solid 5px #0094ff;
}



.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

    .sidebar .nav-links li a .link_name {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        transition: all 0.4s ease;
    }

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #011239;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

    .sidebar .nav-links li .sub-menu a:hover {
        opacity: 1;
       
    }

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #011239;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #011239;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 54px;
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    justify-content: space-between;
}

.home-content .right-header {
    display: flex;
    height: 100%;
    align-items: center;
}

.top-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

    .top-item button {
        border: none !important;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

        .top-item button i {
            font-size: 18px;
        }

.header-user {
    display: flex;
    align-items: center;
    width: 260px;
    position: relative;
}

    .header-user .user {
        margin-right: 10px;
    }

    .header-user .user-info {
        width: 276px;
        height: 192px;
        border: solid 1px #ccc;
        position: absolute;
        top: 55px;
        right: 7px;
        box-shadow: 5px;
        box-shadow: 2px 2px #ccc;
        display: none;
        flex-direction: column;
        background-color:#fff;
       /* background-color: aliceblue;*/
        z-index: 100;
        padding: 24px;
        border-radius: 6px;
        box-shadow: rgba(123,120,248,0.5) 0px 10px 20px 0px;
    }

        .header-user .user-info:before, .user-info:after {
            content: "";
            position: absolute;
            top: -9px;
            right: 44px;
            width: 20px;
            height: 20px;
            border: solid 1px #ccc;
            transform: rotate(45deg);
            border: solid 1px #ccc;
            border-radius: 2px;
            z-index: -1;
        }

        .header-user .user-info:after {
            background-color: #fff;
            top: -7px;
            z-index: 1;
            border: 0;
            right: 44px;
        }

.user-info .top-user-info .left-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    margin: 0 11px 0 0px;
}

    .user-info .top-user-info .left-info .img_userinfo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

.user-info .title-user {
    margin: 10px 0;
}

.user-info .information-title-user {
    display: flex;
    margin: 0 0 10px 0;
}

    .user-info .information-title-user:hover {
        background-color: #E3F2FF;
        border-radius: 5px;
        cursor: pointer;
    }

    .user-info .information-title-user .icon-information {
        margin: 0 6px 0 0;
    }

.header-user > .user {
    cursor: pointer;
}


.user-info .logout-content {
    width: 100%;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

    .user-info .logout-content button {
        width: 100%;
        height: 27px;
        border: solid 1px #ccc;
        border-radius: 5px;
        text-align: center;
        background-color: #fff;
        color: #1492e6;
    }
        .user-info .logout-content button a {
           text-decoration:none;
        }
        .user-info .logout-content button:hover a {
            color: #fff;
        }
            .user-info .logout-content button:hover {
                background-color: #1492e6;
                color: #fff;
            }

.user-info .top-user-info .right-info {
    display: flex;
    flex-direction: column;
}

.header-user .user-info .top-user-info {
    display: flex;
}

.top-item .user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




.sepetator {
    border-right: 1px solid #e0e0e0;
    height: 22px;
    margin-left: 10px;
}

.top-item user-icon-dropdow i {
    font-size: 18px;
}

.home-section {
    background-color: #EDF0F3;
}

    .home-section .home-content {
        background-color: #fff;
    }

        .home-section .home-content .bx-menu,
        .home-section .home-content .text {
            color: #11101d;
            font-size: 35px;
        }

        .home-section .home-content .bx-menu {
            margin: 0 15px;
            cursor: pointer;
        }

        .home-section .home-content .text {
            font-size: 26px;
            font-weight: 600;
        }

.container-content {
    margin: 14px 18px 0 18px;
    width: auto;
    height: 100%;
}


.close {
    opacity: 1;
}

    .close:hover {
        opacity: 1;
    }

    .close:not(:disabled):not(.disabled):hover {
        opacity: 1;
    }

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}
